<%= link_to("<< Back to list", pages_path, :class => 'back-link') %>

<div class="pages edit">
  <h2>Update page</h2>
  
  <%= form_for(@page, :url => pxage_path(@page), :method => 'patch') do |f| %>
    
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= f.submit("Update Page") %>
    </div>
    
  <% end %>
</div>  